@font-face {
    font-family: paralines;
    src: url(../font/Paralines-Regular.otf);
}

.logo{
    text-align: center;
    font-family: paralines;
    font-size: 4em;
    color: #34B3F1;
}

.barra_custom {
    background-color: rgba(46, 56, 64, 0.7);
}

.coresTexto1 {
    color: #F15412;
    font-size: 1.1em;
}

.coresTexto1:hover {
    color: #F9DBBB;
}

.titulo {
    color: #F15412;
    font-size: 1.1em;
}

.texto{
    font-size: 0.8em;
}

.main_news{
    background-color: #4E6E81
}

.second_news{
    background-color: cadetblue;
    border-color: red;
    border-style: solid;
    border-width: 2px;
}

.thrid_news{
    background-color: tomato;
    border-color: darkviolet;
    border-style: solid;
    border-width: 2px;
}