@font-face {
    font-family: paralines;
    src: url(../font/Paralines-Regular.otf);
}

.logo{
    text-align: center;
    font-family: paralines;
    font-size: 4em;
    color: #34B3F1;
}

.news{
    text-align: center;
    font-family: paralines;
    font-size: 3em;
    color: #34B3F1;
}


.barra_custom {
    background-color: rgba(255, 3, 3, 0.8);
}

.coresTexto1 {
    color: #F9DBBB;
    font-size: 1.1em;
}

.coresTexto1:hover {
    color: #34B3F1;
}

.selecionado {
    color: #34B3F1;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.titulo {
    color: #34B3F1;
    font-size: 1em;
}

.titulo2 {
    color: #F15412;
    font-size: 1.5em;
}

.titulo3 {
    color: #F15412;
    font-size: 1em;
}


.texto{
    font-size: 0.8em;
}

.main_news{
    background-color: #4E6E81
}

.second_news{
    background-color: #F9DBBB;
}

.thrid_news{
    border-color: #34B3F1;
    border-style: solid;
    border-width: 2px;
}